* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-medium";
}


/* =====  Font Family  ===== */

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);

  /* width 400  */
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);

  /* width 500  */
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf);

}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);

  /* width 700  */
}

/*********** =========variables========== ***********/
:root {
  --orange-red: #eb664e;
  --green-div: #1f4b43;
  --skin-div: #e7c873;
  --blue-btn: #254ef0;
  --banner-bg: #f7f7f7;
  --white-color: #fff;
  --skin-dark: #e7c873;
  --footer-banner: #fff8f6;
  --border-color: #E9E9E9;
  --footer-down: #222121;
  --footer-color: #1a1a1a;
  --black-color: #000;
  --div-color: #f9f9f9;
}

/*********** =========variables========== ***********/

/********** navbar section starts **********/

.main-transparent {
  background-image: url(../images/main-big1.jpeg);
  height: 960px;
  background-position: center;
  background-size: cover;
}

.nav-last {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;
}

.nav-last p {
  margin: 0px 8px 0px 3px;
}

.profile-btn {
  border: 1px solid black;
  border-radius: 25px;
  padding: 9px 35px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person {
  border: 1px solid black;
  padding: 9px 13px;
  border-radius: 50%;
}

.nav-border {
  border-bottom: 1px solid rgb(186, 186, 186);
}


/********** navbar section ends ***********/
/********** banner section starts ***********/

.my-banner span {
  color: blue;
  font-family: "Roboto-Medium";
}

.my-banner h1 {
  font-size: 60px;
  width: 600px;
  text-align: center;
  font-family: "Roboto-Medium";
  margin-top: 193px;
}

.banner-p {
  margin-top: 30px;
  text-align: center;
}

.my-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale-white {
  background-color: white;
  display: flex;
  border-radius: 95px;
  padding: 20px;
}

.btn-filter {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 13px 31px;
  border-radius: 50px;
  margin-right: 6px;
  transition: 0.3s;
}

.btn-filter:hover {
  border: 1px solid var(--black-color);
}

.btn-search {
  background-color: var(--blue-btn);
  padding: 13px 31px;
  border: none;
  border-radius: 50px;
  color: var(--white-color);
  transition: 0.3s;
}

.btn-search:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}

.inp-typ {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 13px 31px 13px 21px;
  border-radius: 50px;
  transition: 0.3s;
}

.inp-typ:hover {
  border: 1px solid var(--black-color);
}

.key-typ {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 13px 250px 13px 21px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 6px;
  transition: 0.3s;
}

.key-typ:hover {
  border: 1px solid var(--black-color);
}

.for-sale {
  border-bottom: 2px solid var(#000);
  border: none;
  background: transparent;
  margin: 30px 30px;
}

.for-sale:hover {
  border-bottom: 2px solid var(--black-color);
}

/********** banner section ends ***********/
/********** Explore Property starts ***********/

.all-header {
  font-family: "Roboto-Medium";
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.all-header p {
  margin-bottom: 20px;
}

.all-header h3 {
  font-size: 40px;
  font-family: "Roboto-Medium";
  margin-bottom: 10px;
  margin: 80px 0px 0px 0px;
}

.explore-property {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.explore-property img {
  border-radius: 16px;
  width: 256px;
  margin-bottom: 20px;
}

.rel-div {
  position: relative;
  transition: 0.4s;
}

.rel-div img {
  transition: 0.4s;
}

.rel-div:hover {
  transform: translateY(-20px);
}

.rel-div img:hover {
 box-shadow: 0px 20px 14px gray;
}

.abs-div {
  position: absolute;
  font-family: "Roboto-Bold";
  content: '';
  padding: 30px;
  top: 0;
}

/********** Explore Property ends ***********/
/********** Customer Favor Starts ***********/

.redefine {
  background-color: var(--div-color);
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  border-radius: 16px;
}

.redefine h4 {
  color: var(--orange-red);
  font-size: 40px;
}

.redefine h5 {
  font-size: 14px;
}

.redefine p {
  font-size: 12px;
}

/********** Customer Favor ends ***********/
/********** Explore City starts ***********/

.bgc{
  background-color: var(--banner-bg);
  padding-bottom: 60px;
}

/********** Explore City ends ***********/
/********** Perfect Home starts ***********/

.find img {
  width: 35px;
  margin-bottom: 15px;
}

.meet img {
  width: 35px;
  margin-bottom: 15px;
}

.take img {
  width: 35px;
  margin-bottom: 15px;
}

.find {
  padding-bottom: 40px;
}

.meet {
  padding: 40px 0px;
}

.take {
  padding-top: 40px;
}

.building-img img {
  width: 100%;
}

.real-estate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  border-left: 2px solid var(--border-color);
}

/********** Perfect Home ends ***********/
/********** Discober Place starts ***********/

.discover {
  background-image: url(../images/main-big2.jpeg);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 80px 0px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.discover h3{
  font-size: 60px;
  margin-bottom: 30px;
}

.discover button{
  border: none;
  border-radius: 12px;
  background-color: var(--blue-btn);
  color: var(--white-color);
  padding: 20px 30px;
  margin-top: 15px;
}

/********** Discober Place ends ***********/
/********** Reason Section starts ***********/

.reason{
  margin-top: 150px;
}

.reason img{
  width: 100%;
}

.should-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more-btn {
  background-color: var(--blue-btn);
  color: var(--white-color);
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
}

/********** Reason Section ends ***********/
/********** Amazon Section starts ***********/

.company-logo-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.company-logo-hero div {
  padding: 0px 40px;
  margin-top: 30px;
}

.company-main-logo {
  text-align: center;
  padding: 150px 0px;
}

/********** Amazon Section ends ***********/
/********** Black Section starts ***********/

.tele {
  background-color: var(--blue-btn);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.black {
  background-color: var(--black-color);
  padding: 80px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--white-color);
}

.imp-email {
  background-color: #2c2c2c;
  padding: 10px 20px;
  border-radius: 20px;
}

.imp-email input{
  background-color: #2c2c2c;
  color: var(--white-color);
  border: none;
}

.imp-email button{
  background-color: #2c2c2c;
  color: var(--white-color);
  border: none;
}

.black a {
  color: var(--white-color);
}

/********** Black Section ends ***********/
/********** media query starts ***********/

@media only screen and (max-width: 1200px) {

  .nav-last {
    margin: auto;
  }

  .my-banner h1 {
    font-size: 50px;
    margin-top: 140px;
  }

  .main-transparent {
    height: 800px;
  }

  .for-sale {
    margin: 20px 20px 30px 20px;
  }

  .banner-p {
    margin: 20px 10px 10px 10px;
  }

  .profile-btn {
    padding: 10px 20px;
  }

  .sale-white {
    padding: 10px;
  }

}

@media only screen and (max-width: 992px) {

  .my-banner h1 {
    font-size: 50px;
    margin-top: 80px;
  }

  .bgc {
    padding-bottom: 40px;
  }

  .main-transparent {
    height: 650px;
  }

  .sale-white {
    flex-direction: column;
    width: 350px;
    border-radius: 12px;
    padding: 20px;
  }

  .type-input input {
    display: block;
    padding: 10px 0px 10px 20px;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  .filter-search {
    display: flex;
    gap: 10px;
  }

  .filter-search button {
    padding: 10px 20px;
  }

  .all-header h3 {
    font-size: 38px;
    margin: 60px 0px 0px 0px;
  }

  .should-work {
    align-items: start;
    margin-top: 30px;
  }


}

@media only screen and (max-width: 768px) {

  .discover h3 {
    font-size: 40px;
  }

  .discover button {
    padding: 10px 20px;
  }

  .should-work button{
    padding: 10px 20px;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 600px) {

  .my-banner h1 {
    font-size: 30px;
    margin-top: 80px;
    width: 400px;
  }

  .nav-logo img {
    width: 120px;
  }

  .explore-property {
    justify-content: space-around;
  }

  .explore-property img {
    width: 200px;
  }

  .all-header h3 {
    font-size: 38px;
    margin: 60px 0px 0px 0px;
  }

  .find {
    padding-bottom: 20px;
  }
  
  .meet {
    padding: 20px 0px;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
  }
  
  .take {
    padding-top: 20px;
  }
  
  .building-img img {
    width: 100%;
  }
  
  .real-estate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 100%;
    border-left: none;
    /* padding: 10px 0px 0px 20px; */
  }
  .reason {
    margin-top: 50px;
  }

  .company-main-logo {
    padding: 50px 0px;
  }

}

@media only screen and (max-width: 519px) {

  .abs-div {
    padding: 25px;
  }

  .discover h3 {
    font-size: 30px;
  }

  .discover p {
    font-size: 10px;
  }

  .discover button {
    padding: 8px 10px;
  }

  .discover img {
    height: 60%;
  }

}

@media only screen and (max-width: 444px) {

  .my-banner h1 {
    width: 300px;
    margin: 30px 0px 0px 0px;
  }

  .sale-white {
    width: 100%;
  }

  .banner-p {
    margin: 10px;
  }

  .main-transparent {
    height: 530px;
  }

  .type-input input {
    display: block;
    padding: 6px 0px 6px 15px;
    margin: 0px 0px 10px 0px;
  }

  .explore-property img {
    width: 100px;
  }

  .all-header h3 {
    font-size: 30px;
    margin: 40px 0px 0px 0px;
  }

  .abs-div {
    padding: 10px;
  }

  .abs-div h6 {
    font-size: 14px;
  }

  .abs-div p {
    font-size: 12px;
  }


}

@media only screen and (max-width: 335px) {

  .Bloomingdal {
    flex-direction: column;
  }

  .area-p {
    margin-top: 10px;
  }

  .two-div h6 {
    font-size: 10px;
  }

  /* .redefine {
    padding: 20px 20px;
  } */

}


@media only screen and (max-width: 323px) {

  .my-banner h1 {
    width: 250px;
    font-size: 20px;
  }

  .all-header h3 {
    font-size: 24px;
    margin: 40px 0px 0px 0px;
  }

  .two-header h3 {
    margin-top: 60px;
  }


}

@media only screen and (max-width: 260px) {

  .my-banner h1 {
    width: 200px;
    font-size: 20px;
  }

  .explore-property img {
    width: 60px;
  }

  .all-header h3 {
    font-size: 18px;
    margin: 30px 0px 0px 0px;
  }

  .two-header h3 {
    margin-top: 30px;
  }


  .all-header p {
    font-size: 12px;
  }

  .two-header p {
    font-size: 12px;
  }

  .abs-div {
    padding: 6px;
  }

  .abs-div h6 {
    font-size: 7px;
  }

  .abs-div p {
    font-size: 8px;
  }

}

/********** media query ends ***********/